.players
{
border:1px solid blue;
padding:10%;
margin:1%;
position:relative;
}
.player
{
border:1px solid green;
position:absolute;
top:0px;
left:0px;
overflow:hidden;
}
.obstacle
{
border:1px solid brown;
position:absolute;
top:0px;
left:0px;
}
.obstacles
{
border:1px solid red;
padding:10%;
margin:1%;
position:relative;
}
.ground
{
border:1px solid lime;
}